.headers,
.member {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2%;
}

.greyed {
  color: grey;
  pointer-events: none;
  opacity: 0.5;
}

.changeable {
  color: inherit;
  pointer-events: auto;
}
